---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About New Literacy Technology Consultants"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<section>
	<p>
	Welcome to New Literacy Technology Consultants, your trusted partner for all things tech. Founded by a former software engineer with over a decade of experience and a bachelor's degree in computer science, our mission is to provide high-quality, affordable computer solutions tailored to meet your specific needs. Whether you're in the market for a new computer, need a custom-built system, or require repairs and upgrades, we're here to help.
	</p>
	</section>
	<section>
	<h2>Our Services</h2>
	<h3>Custom-Built Systems</h3>
	<p>
	Why settle for off-the-shelf computers when you can have a machine that's perfectly suited to your requirements? At New Literacy Technology Consultants, we specialize in building custom desktops and laptops. Whether you need a high-performance system for gaming or video editing, or a reliable machine for everyday tasks, we'll build it for you at a fraction of the cost of preconfigured systems. Your dream machine is just a consultation away.
	</p>
	<h3>Computer Repairs and Upgrades</h3>
	<p>
	Think your computer is on its last legs? Think again. Most of the issues our clients face are simple software problems or minor hardware fixes. We pride ourselves on extending the life of your existing machines, saving you money and reducing electronic waste. From troubleshooting persistent issues to performing upgrades that make your system run like new, we provide comprehensive repair services that keep your tech in top shape.
	</p>
	<h3>Affordable Home and Business Solutions</h3>
	<p>
	We offer a range of solutions for both home and business users. Need a new computer running the latest Windows OS or your favorite Linux distribution? We've got you covered. We take the time to understand your specific needs and recommend systems that provide the best value for your money. Our goal is to ensure you get exactly what you need without paying for unnecessary features.
	</p>
	<p>When it comes to business computing, reliability, security, and affordability are paramount. That’s why we recommend Lenovo’s ThinkPad and ThinkCentre product lines. Renowned for their durability, performance, and security features, these devices offer the perfect balance of functionality and cost-effectiveness. Upgrade your business computing with Lenovo and experience the difference.</p>

	<h3>High-Performance Computing:</h3>
	<p>Looking for a machine that can handle intensive tasks with ease? At New Literacy Technology Consultants,Our custom-built systems are tailored to meet the demands of intensive tasks, ensuring you get the performance you need without overspending. If you need a system that can handle any of the following tasks, we can determine exactly which components you need for the perfect build:</p>
	<ul>
		<li><strong>Gaming:</strong> Experience gaming like never before with our high-powered PCs designed to run the latest video games with stunning graphics and smooth performance. Whether you're a casual gamer or a competitive enthusiast, our systems deliver the immersive experience you crave.</li>
		<li><strong>Content Creation:</strong> From video editing and graphic design to 3D modeling and animation, our high-performance PCs are essential tools for content creators. With robust processing power and ample memory, you can bring your creative vision to life without compromise.</li>
		<li><strong>Data Analysis and Scientific Computing:</strong> Researchers, analysts, and scientists use our high-performance PCs for data analysis, simulations, and scientific computing tasks. Whether you're crunching numbers, running simulations, or analyzing complex datasets, our systems deliver the performance you need to make breakthrough discoveries.</li>
		<li><strong>Music Production:</strong> Audio engineers and music producers trust our high-powered PCs for music production and audio editing. With low-latency audio interfaces and powerful processors, you can record, edit, and mix audio tracks with precision and clarity.</li>
	</ul>
	<p>No matter your passion or profession, our high-performance computers are built to exceed your expectations. Contact us today to learn more about our custom-built solutions and find the perfect PC for your needs.</p>

	<h3>Data Recovery, Virus Removal, and Optimization Services</h3>
	<p>Lost important files, dealing with a malware or virus infection, or is your computer just not running as smoothly as it used to? Our data recovery, virus/malware removal, and system optimization services are here to help. We can remove the viruses, malware, and fix the many issues that can cause your machine to run slowly or freeze up. We also have tools and the knowledge to recover data that has been lost under a variety of circumstances.  
	</p>
	<h3>Mobile Phones and Tablets:</h3>
	<p>Looking for a top-quality smartphone without breaking the bank? At New Literacy Technology Consultants, we are familiar with the best devices on the market and can advise you on the perfect fit for your needs. Whether you’re looking for a reliable device for everyday use or want to upgrade your mobile experience, we've got you covered.</p>
	<p>But here's the catch: Many people get trapped in expensive contracts with major carriers like Verizon and Sprint, thinking they’re getting a "free" phone. In reality, these contracts often result in paying almost twice the price of a $1000 phone due to additional service costs. Purchasing your mobile device along with a service plan can limit your flexibility and lock you into long-term contracts with hefty termination fees.</p>
	<p>That's why we offer unlocked mobile phones, allowing you to bring your own device and choose the carrier and plan that best suits your needs. With an unlocked phone, you have the freedom to switch carriers at any time, take advantage of competitive pricing, and avoid the hidden costs associated with bundled service plans.</p>
	<p>Upgrade your mobile experience today with a top-quality unlocked phone from New Literacy Technology Consultants. Contact us for more details and to make your purchase!</p>

	</section>
	<section>
	<h2>Our Philosophy</h2>
	<p>At New Literacy Technology Consultants, we believe in making technology accessible and sustainable. Too often, people purchase expensive systems they don't need, leading to wasted resources and environmental harm. Our approach is different. We focus on maximizing the value of your existing equipment and providing cost-effective solutions tailored to your unique needs. This philosophy not only saves you money but also reduces the demand for new hardware, contributing to a more sustainable future.</p>
	<h3>Why Choose Us?</h2>

	<ul>
	<li><strong>Expertise:</strong> With over a decade of experience in software engineering and a bachelor's degree in computer science, we bring a deep understanding of technology to every project.</li>
	<li><strong>Personalized Service:</strong> We take the time to understand your needs and provide customized solutions that fit your budget.</li>
	<li><strong>Sustainability:</strong> We're committed to reducing electronic waste by extending the life of your existing equipment and providing eco-friendly solutions.</li>
	<li><strong>Affordable Pricing:</strong> Our services are designed to offer the best value for your money, ensuring you get the most out of your technology investment.</li>
	<li><strong>Free Consultation:</strong> Contact us today for a free consultation and discover how we can help you achieve your tech goals without breaking the bank.</li>
	</ul>

	</section>
</Layout>
