---
import "../styles/global.css"
---
<h2>Contact</h2>
    <a class="contact-phone" HREF="tel:+1-616-300-6262">616-300-6262</a>
    <a class="contact-email" href="mailto:contact@newliteracy.online">contact@newliteracy.online</a>
<style>
.contact-email
{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:3em;    
}
    .contact-phone
    {
  font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:6em;
    }
    div{
        padding-top: 5em;
        text-align: center;
    }
    form{
        display: flex;
        flex-direction: column;
    }
    label{
        border-radius: 20%;
    }
    #submit{
        margin-top: 1rem;
        background-color: #E95420;
        border-radius: 10px;
    }
</style>